<div class="select-entry">
<div class="select-box">
<% form_tag(:controller => 'movies', :action => 'update_list', :method => 'post' ) do %>


 
    <ul style="list-style-type: none">
      <%@movies = Movie.all%>

      <% @movies.each do |movie| %>
        <li>
          <%= check_box_tag 'movie_names[]', movie.title -%>
          <%= h movie.title  %>
        </li>
      <% end %>
    </ul>
</div>
  <p>
          <%= submit_tag 'Edit' , {:name => 'submit', :value => 'edit'} %>
          <%= submit_tag 'Delete', {:name => 'submit', :value => 'delete'} %>
  </p>
<% end %>
</div>




